* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#modalWrapper #backdrop:not(:last-child) {
  opacity: 1;
}

#modalWrapper .modalRoot:not(:last-of-type) .modal {
  opacity: 0;
  transform: translate(0, -75vh);
}

#modalWrapper:has(> .isOpenAnimation) .modalRoot:not(:last-of-type) .modal {
  opacity: 0;
  transform: translate(0, 75vh);
}

#modalWrapper .modalRoot:last-of-type:not(.close) .modal {
  opacity: 1;
  transform: translate(0, 0);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
